<div *ngIf="user">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Myprog</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a [routerLink]="['/articles']">List Articles</a></li>
				<li><a [routerLink]="['/articles/create']">Create Article</a></li>
				<li><a [routerLink]="['/chat']">Chat</a></li>
				<li><a href="/api/auth/signout">Signout</a></li>
				<li><a> Hello {{user.firstName}}</a></li>
			</ul>
		</div>
	</nav>
</div>
<div *ngIf="!user">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Myprog</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a [routerLink]="['/authentication/signup']">Signup</a></li>
				<li><a [routerLink]="['/authentication/signin']">Signin</a></li>
			</ul>
		</div>
	</nav>
